# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore data files
data/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environments
.venv/
venv
